<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/b46MeXYp-Wc" allowfullscreen></iframe>
</div>
<div class="container">


  <div class='row mt-3'>
    <div class='col-6 col-sm-2'>
      <a><img class="servicios img-fluid" src="assets/images/Sitio-web-stickers_15.png" alt=""></a>
    </div>
    <div class='col-6 col-sm-2'>
      <a><img class="servicios img-fluid" src="assets/images/Sitio-web-stickers_17.png" alt=""></a>
    </div>
    <div class='col-6 col-sm-2'>
      <a><img class="servicios img-fluid" src="assets/images/Sitio-web-stickers_19.png" alt=""></a>
    </div>
    <div class='col-6 col-sm-2'>
      <a><img class="servicios img-fluid" src="assets/images/Sitio-web-stickers_21.png" alt=""></a>
    </div>
    <div class='col-6 col-sm-2'>
      <a><img class="servicios img-fluid" src="assets/images/Sitio-web-stickers_23.png" alt=""></a>
    </div>
  </div>
</div>

<section class="d-flex flex-column mt-3">

  <div class="p-2">
    <a><img class="img-fluid" src="assets/images/Sitio-web-stickers_31.png"></a>
  </div>

  <div class="p-2">
    <a><img class="img-fluid" src="assets/images/Sitio-web-stickers_38.png"></a>
  </div>

</section>
