<section>
  <div class="mt-3">
    <ul class="grid cs-style-5">
      <li>
        <figure>
          <img class="productos" src="assets/images/Sitio-web-stickers_42.png" alt="img03">
          <figcaption>
            <h3>Pagos</h3>
            <span>Andrés</span>
            <a class="a1" href="">Realizar</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="productos" src="assets/images/Sitio-web-stickers_43.png" alt="img03">
          <figcaption>
            <h3>Entrega</h3>
            <span>Andrés</span>
            <a class="a1" href="">Realizar</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="productos" src="assets/images/Sitio-web-stickers_44.png" alt="img03">
          <figcaption>
            <h3>Diseño</h3>
            <span>Andrés</span>
            <a class="a1" href="">Realizar</a>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="productos" src="assets/images/Sitio-web-stickers_46.png" alt="img03">
          <figcaption>
            <h3>Clientes</h3>
            <span>Andrés</span>
            <a class="a1" href="">Realizar</a>
          </figcaption>
        </figure>
      </li>

    </ul>
  </div>

  <div class="mt-3">
    <a><img src="assets/images/Sitio-web-stickers_51.png" width="1954" height="425" alt=""></a>
  </div>
</section>
