<!-- <section>

  <div class="mt-3">
    <a><img src="assets/images/producto/Producto_03.png" alt=""></a>
    <a><img src="assets/images/producto/Producto_10.png" alt=""></a>
    <a><img src="assets/images/producto/Producto_13.png" alt=""></a>
    <a><img src="assets/images/producto/Producto_20.png" alt=""></a>
    <a><img src="assets/images/producto/Producto_25.png" alt=""></a>
    <a><img src="assets/images/producto/Producto_28.png" alt=""></a>
  </div>




</section> -->

<!-- <div [ngStyle]="{'color': color, 'font-size': size +'px', 'font-weight': 'bold'}"> -->


<!-- <div class="font-effect-fire-animation">This is a font effect!</div> -->
<div class="container">


  <div class="row">
    <div class="border border-success rounded col-md-6 ml-2 mr-2">
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Ingresar el texto</label>
            <textarea Class="ml-4" type="text" name="texto1" id="texto1" [(ngModel)]='texto1'></textarea>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div [ngStyle]="myStyles">
            <img [ngStyle]="{'background-color' : styleBackgroundColor}" src="assets/images/producto/Producto_10.png"
              alt="">
            {{texto1}}
          </div>
        </div>
      </div>

    </div>
    <div class=" border border-danger rounded col-md-5 mt-2 ml-2 mr-2">
      <div class="row">
        <!-- <input [(ngModel)]="myStyles.color" /> -->
        <div class="col-md-2">
          <div class="form-group">
            <label class="col-md-6" for="">TAMAÑO</label>
            <div class="row">
              <div>
                <button type="button" class="btn btn-lg btn-secoundary rounded" (click)="suma()"><strong>+</strong></button>
              </div>
              <div>
                <button type="button" class="btn btn-lg btn-primary rounded ml-2" (click)="resta()"><strong>-</strong></button>
                {{size}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="">MODELOS DE LETRAS</label>
            <select class="form-control" id="nivel5" placeholder="niveles" required [(ngModel)]='familyFont' (change)='setFontFamily()'
              [ngModelOptions]="{standalone: true}" #nivel5="ngModel">
              <option *ngFor="let item of fontFamylist" [ngValue]='item' [ngStyle]="{'font-family': item,'font-size': '20px','font-style': styleFont, 'font-weight': 'bold'}">
                {{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="">COLOR DE FONDO</label>
            <select class="form-control" id="nivel0" placeholder="niveles" required [(ngModel)]='styleBackgroundColor'
              (change)='setBackgroundColor()' [ngModelOptions]="{standalone: true}" #nivel0="ngModel">
              <option *ngFor="let item of colores" [ngValue]='item' [ngStyle]="{'background-color' : item, 'font-size': '20px', 'font-weight': 'bold'}">
                {{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="">COLOR DE LETRAS</label>
            <select class="form-control" id="nivel1" placeholder="niveles" required [(ngModel)]='myStyles.color'
              [ngModelOptions]="{standalone: true}" #nivel1="ngModel">
              <option *ngFor="let item of colores" [ngValue]='item' [ngStyle]="{'background-color' : styleBackgroundColor,'color' : item, 'font-size': '20px', 'font-weight': 'bold'}">
                {{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="">ESTILO DE LETRAS</label>
            <select class="form-control" id="nivel2" placeholder="niveles" required [(ngModel)]='styleWeight' (change)='setStyles()'
              [ngModelOptions]="{standalone: true}" #nivel2="ngModel">
              <option *ngFor="let item of fontWeight" [ngValue]='item'> {{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="">FORMA DE LETRAS</label>
            <select class="form-control" id="nivel4" placeholder="niveles" required [(ngModel)]='styleFont' (change)='setStylesFont()'
              [ngModelOptions]="{standalone: true}" #nivel4="ngModel">
              <option *ngFor="let item of styles" [ngValue]='item' [ngStyle]="{'background-color' : styleBackgroundColor, 'font-size': '20px','font-style': item, 'font-weight': 'bold'}">
                {{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<!-- <div class="container">
  <div class="row">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="assets/images/producto/Producto_10.png"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="assets/images/producto/Producto_10.png" alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="assets/images/producto/Producto_13.png"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="assets/images/producto/Producto_13.png" alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1" data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>



      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>



      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice" data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery">
          <img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text">
        </a>
      </div>
    </div>


    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
            </button>

            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <h3>Z1 - (id=1) - row plain gallery layout (limit 2) and custom size</h3>
  <br>
  <ks-modal-gallery [id]="1" [modalImages]="images" [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>
</section> -->
