<!-- <div class=" container-fluid "> -->
<nav class="shadow-lg navbar navbar-expand-lg navbar-dark bg-dark menu bordeBisel d-flex flex-nowrap ">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav d-flex">
      <li class=" nav-item mr-auto">
        <a [routerLink]="[ '/']" class=" nav-link ml-1">
          <i class=" fa fa-3x fa-home"></i>
          <span class='badge pill badge-info'>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="[ '/producto']" class="nav-link ml-1">
          <i class=" fa fa-3x fa-product-hunt"></i>
          <span class='badge pill badge-info'>Productos</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="[ '/promociones']" class="nav-link ml-1">
          <i class=" fa fa-3x fa-gift"></i>
          <span class='badge pill badge-info'>Promociones</span>
        </a>
      </li>
    </ul>

  </div>
  <div class="d-flex ml-auto">
    <div class="p-2"> <a href="#" class="nav-link ml-1" *ngIf='!isLogin' [routerLink]="[ '/login']">
        <i class=" fa fa-3x fa-user"></i>
        <span class='badge pill badge-info'>Login</span>
      </a>
    </div>
    <div class="p-1">
      <a href="#" class="nav-link ml-1" *ngIf='!isLogin' [routerLink]="[ '/register']">
        <i class="fa fa-3x fa-users"></i>
        <span class='badge pill badge-info'>Registrarse</span>
      </a>
    </div>
    <div class="p-1">
      <a href="#" class="nav-link ml-1" *ngIf='isLogin'>
        <img src="{{fotoUsuario}}" class='rounded-circle'>
        <span class='badge pill badge-info textButton ml-2'>{{emailUsuario}}</span>
      </a>
    </div>
    <div class="p-1">
      <a href="#" class="nav-link ml-1" *ngIf='isLogin' (click)='onClikLogout()'>
        <i class=" fa fa-3x fa-expeditedssl"></i>
        <span class='badge pill badge-info'>Salir</span>
      </a>
    </div>
    <div class="p-1 desaparece">
      <form class="form-inline p-2">
        <input class="form-control p-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success p-2 m-2" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- </div> -->
